html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

header nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}  

main {
    margin: 0 auto;
    max-width: 600px;
    text-align: justify;
}

figure {
    float: right;
    margin-right: 0;
    width: 50%;
}

figure img {
    width: 100%;
}

form {
    margin: 0 auto;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 0.4em;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid black;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    background-color: #ebfbff;
}

button {
    display: block;
    padding: 10px 20px;
    background-color: #0064d0;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:focus-visible {
    outline: 3px solid black;
}
